<div style="width: 100%; align-self: stretch; max-width: 1400px; min-height: 1120px; position: relative">
  <div style="padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; left: 16px; top: 342px; position: absolute; background: var(--color-orange-53-20%, rgba(249, 115, 22, 0.20)); border-radius: 9999px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="color: var(--color-orange-53, #F97316); font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Taller Automotriz de Confianza</div>
  </div>
  <div style="width: 660px; left: 16px; top: 394px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div><span style="color: var(--color-orange-53, #F97316); font-size: 60px; font-family: Inter; font-weight: 700; line-height: 60px; word-wrap: break-word">¡AHORA TIENES</span><span style="color: var(--color-white-solid, white); font-size: 60px; font-family: Inter; font-weight: 700; line-height: 60px; word-wrap: break-word"> EL<br/>CONTROL </span><span style="color: var(--color-orange-53, #F97316); font-size: 60px; font-family: Inter; font-weight: 700; line-height: 60px; word-wrap: break-word">DE TU<br/>VEHÍCULO!</span></div>
  </div>
  <div style="width: 448px; max-width: 448px; left: 16px; top: 598px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="color: var(--color-azure-84, #D1D5DB); font-size: 18px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">En Lycos entendemos que cada vehículo es único.<br/>Nuestro taller está equipado con la última tecnología<br/>para ofrecerte servicios de electrónica, mecánica y<br/>cerrajería automotriz de primera calidad.</div>
  </div>
  <div data-:hover="false" data-variant="1" style="height: 44px; padding-top: 11.50px; padding-bottom: 12.50px; padding-left: 32px; padding-right: 32px; left: 16px; top: 734px; position: absolute; background: #F97316; border-radius: 6px; justify-content: center; align-items: center; display: inline-flex">
    <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-white-solid, white); font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Nuestros Servicios</div>
  </div>
  <div data-:hover="false" data-variant="2" style="height: 44px; padding-top: 11.50px; padding-bottom: 12.50px; padding-left: 33px; padding-right: 33px; left: 221px; top: 734px; position: absolute; background: var(--color-orange-61-30%, rgba(251, 146, 60, 0.30)); border-radius: 6px; outline: 1px var(--color-orange-53, #F97316) solid; outline-offset: -1px; justify-content: center; align-items: center; display: inline-flex">
    <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-orange-53, #F97316); font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Contáctanos</div>
  </div>
</div>