---
// Importa imagen como URL
import mainCarUrl from '../assets/maincar.svg?url';
---
<style>
  .hero-bg {
    background: conic-gradient(
      from -28deg at 75.1% 38.66%,
      #261000 63deg,
      #2f1200 118deg,
      #301300 143deg,
      #1a0c01 181deg,
      #1d0d00 188deg,
      #1d0d00 197deg,
      #1b0d02 236deg,
      #120b04 271deg,
      #100b04 289deg,
      #1d0f00 302deg,
      #0f0d0b 309deg,
      #1a0c00 316deg,
      #0e0a04 322deg,
      #110a02 327deg,
      #0e0a04 335deg,
      #190d01 354deg,
      #1d0d00 360deg
    );
  }
</style>

<div class="hero-bg  w-full  min-h-screen md:min-h-[600px] flex flex-col items-center  md:flex-row   justify-between pt-10 md:px-15 p-1 ">
  <!-- Texto -->
  <div class="w-full md:w-1/2 text-center flex md:text-justify flex-col gap-6 z-10 ">
    <div class="flex justify-center md:inline-flex md:w-fit  bg-orange-500/20 text-orange-500 text-sm font-medium px-4 py-1 rounded-full ">
      <p>
  Taller Automotriz de Confianza
      </p>
    
    </div>
    <h1 class="text-[38px] sm:text-5xl lg:text-6xl font-bold leading-tight text-white">
      <span class="text-orange-500">¡AHORA TIENES</span><br />
      EL <span class="text-orange-500">CONTROL<br />DE TU VEHÍCULO!</span>
    </h1>
    <p class="text-gray-300 text-base sm:text-lg leading-7 max-w-md">
      En Lycos entendemos que cada vehículo es único. Nuestro taller está equipado con la última tecnología para ofrecerte servicios de electrónica, mecánica y cerrajería automotriz de primera calidad.
    </p>

    <div class="flex flex-col sm:flex-row gap-4 m-5">
      <a href="#servicios" class="bg-orange-500 hover:bg-orange-600 text-white text-sm font-medium px-8 py-3 rounded transition">
        Nuestros Servicios
      </a>
      <a href="#contacto" class="bg-orange-400/30 border border-orange-500 text-orange-500 text-sm font-medium px-8 py-3 rounded transition">
        Contáctanos
      </a>
    </div>
  </div>

  <!-- Imagen -->
  <div class="w-full  md:w-1/2 flex justify-center items-center  md:mb-0">
    <img src={mainCarUrl} alt="Vehículo principal" class="w-[100%] max-w-[600px] md:w-[800px] md:h-auto object-contain" />
  </div>
</div>
