---
import Playstore from "../assets/GetItOnGooglePlay_Badge_Web_color_Spanish-LATAM.png?url" 
---
<section class="w-full  bg-orange-500 py-12 px-4 text-white text-center">
  <div class="max-w-4xl mx-auto space-y-6 flex flex-col items-center">
    <h2 class="text-3xl md:text-4xl font-bold">¡Descarga Nuestra App Ahora!</h2>

    <p class="text-base md:text-lg leading-relaxed">
      Toma el control de tu vehículo y disfruta de todos nuestros servicios desde la<br class="hidden md:inline" />
      comodidad de tu dispositivo móvil.
    </p>

    <!-- Botón simulando Play Store -->
    <a  href="#">

          <img height="200" width="150" src={Playstore} alt="">

 
    </a>
  </div>
</section>
