<div style="align-self: stretch; height: 80px; padding-left: 16px; padding-right: 15.99px; background: white; justify-content: space-between; align-items: center; display: inline-flex">
  <img style="width: 105px; height: 92px; position: relative" src="https://placehold.co/105x92" />
  <div style="justify-content: flex-start; align-items: center; gap: 32px; display: flex">
    <div data-:hover="false" data-variant="5" style="flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-orange-53, #F97316); font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Inicio</div>
    </div>
    <div data-:hover="false" data-variant="6" style="flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-27, #374151); font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Servicios</div>
    </div>
    <div data-:hover="false" data-variant="6" style="flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-27, #374151); font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Nosotros</div>
    </div>
    <div data-:hover="false" data-variant="6" style="flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-27, #374151); font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Aplicación</div>
    </div>
    <div data-:hover="false" data-variant="6" style="flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-27, #374151); font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Testimonios</div>
    </div>
    <div data-:hover="false" data-variant="6" style="flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-27, #374151); font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Contacto</div>
    </div>
    <div data-:hover="false" data-variant="1" style="height: 40px; padding-top: 9.50px; padding-bottom: 10.50px; padding-left: 16px; padding-right: 16px; background: #F97316; border-radius: 6px; justify-content: center; align-items: center; display: flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-white-solid, white); font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Descargar App</div>
    </div>
  </div>
</div>
